
<div class="container-fluid">
<p class="justify-content-center"> Some of most reviewed <strong> socks </strong> in the community</p>
<div class="content">
  <div class="cards">
    <% @socks.each do |sock| %>
    <div>
      <div class="card" style="background-image: url('<%= cl_image_path sock.photo, height: 120, width: 120, crop: :fit %>')">
      </div>
      <div class="card-bottom">
        <div class="class card-bottom-title"><%= sock.title %></div>
        <div class="class card-bottom-price"><%= sock.price %>€ per day</div>
        <div class="class card-bottom-category"><%= sock.category %></div>
      </div>
    </div>
    <% end %>
  </div>

</div>

</div>
<!-- myview.html.erb -- assuming I'm using Twitter Bootstrap -->
 <% @socks.each_slice(3) do |sock| %>
  <div class="row"> <!-- Each row of my Grid -->
  <% @socks.each do |sock| %>
    <!-- Each item in my grids row -->
    <div class="offset1 span3"><%= sock.title %></div>
  <% end %>
  </div>
<% end %>

<div class="container">
    <h3 class="h3">shopping Demo-6 </h3>
        <% @socks.each do |sock| %>
    <div class="row">
        <% @socks.each do |sock| %>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#"><img class="pic-1" src="<%= cl_image_path sock.photo, height: 120, width: 120, crop: :fit %>"></a>
                </div>

                <div class="product-content">
                    <h3 class="title"><a href="#"><%= sock.title %></a></h3>
                    <div class="price">$11.00 <span><%= sock.price %>€ per day</span></div>
                </div>
                <% end %>
            </div>
    </div>
  </div> <% end %>
</div>
