
<div class="container">
<div class="cards d-flex justify-content-center">

 <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqwubjw5x/image/upload/v1559121332/the-creative-exchange-365158-unsplash_q2lmw3.jpg)">
  <h1>Ready for summer ?</h1><%= link_to "", root_path, class: "card-link" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqwubjw5x/image/upload/v1559125501/700-shoes-odor-smell-smelly-boots_iwmcqg.jpg)">
   </a><h1> Active worker smell</h1><%= link_to "", root_path, class: "card-link" %>
  </div>

</div>

<div class="cards-grid">
  <% @socks.each do |sock| %>
  <div class="card-trip">
    <img src="<%= cl_image_path sock.photo %>">
    <div class="card-trip-infos">
      <div>
        <h1><%= sock.title %></h1>
        <ul class="reviews-list">
        <% sock.reviews.each do |review| %>
          <li class="list-group-item list-reviews">
            <% review.rating.times do %>
              <i class="fas fa-star" style="color:#54BC83"></i>
              <% end %>
        <% end %>
        <% sock.reviews.each do |review| %>
            <% (5 - review.rating).times  do %>
              <i class="far fa-star" style="color:#54BC83"></i>
              <% end %></li>
        <% end %>
      </ul>
      </div>
      <h2 class="card-trip-pricing"><%= sock.price %>€ / day</h2>
      <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
    </div>
    <%= link_to "", sock_path(sock), class: "card-link" %>
  </div>
    <% end %>
</div>
</div>
</div>

