    <div class="d-flex justify-content-center flex-wrap d-block w-100  m-3">
        <% @socks.each do |sock|%>
        <div class="card m-3">
        <%= link_to sock_path(sock) do %>
        <img src="<%= sock.photo %>" alt="Chaussette" width="160" height="160" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))>
        <% end %>
     <%= sock.title %>
     <%= sock.price %> Price €/day Price * day au total
      <%= sock.size  %> <%= sock.id  %>
      </div>
    <% end %>
    </div>



<div class="d-flex justify-content-center">
  <img class="card-img-top img-index" src="https://res.cloudinary.com/dqwubjw5x/image/upload/v1558703939/150302.jpg-r_1280_720-f_jpg-q_x-xxyxx_ltldfi.jpg" alt="Chaussette" >
  <img class="card-img-top img-index" src="https://res.cloudinary.com/dqwubjw5x/image/upload/v1558703939/150302.jpg-r_1280_720-f_jpg-q_x-xxyxx_ltldfi.jpg" alt="Chaussette" >
  <img class="card-img-top img-index" src="https://res.cloudinary.com/dqwubjw5x/image/upload/v1558703939/150302.jpg-r_1280_720-f_jpg-q_x-xxyxx_ltldfi.jpg" alt="Chaussette" >
  <img class="card-img-top img-index" src="https://res.cloudinary.com/dqwubjw5x/image/upload/v1558703939/150302.jpg-r_1280_720-f_jpg-q_x-xxyxx_ltldfi.jpg" alt="Chaussette" >

</div>


<div class="container-fluid px-4 m-3">
  <nav class="t-20 nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center btn" href="#">Category</a>
    <a class="flex-sm-fill text-sm-center btn" href="#">Price</a>
    <a class="flex-sm-fill text-sm-center btn" href="#">Color</a>
    <a class="flex-sm-fill text-sm-center btn" href="#">Smell</a>
  </nav>
</div>
