<<div class="container">
<h2>Toutes vos chaussettes</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'My account', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">My socks</li>
  </ol>
</nav>

<div>
  <% @socks.each do |sock|%>
    <div class="card-columns m-4 flex-column">
      <div class="card">
        <p class="card-img-top"><%= sock.photo %></p>
        <div class="card-body">
          <h5 class="card-title"><%= sock.title %> </h5>
          <p class="card-price"><%= sock.price %> Price €/day Price * day au total</p>
          <p class="card-size"><%= sock.size  %></p>
          <p class="card-review">Star * Review rate / Review Count </p>
          <%= link_to 'Show', sock_path(sock) %>
        </div>
      </div>
    </div>
    <% end %>
</div>

<% if @socks.count == 0 %>
<p>Your catalog is empty! Take 1 min and start to rent your socks now</p>
  <%= link_to 'Let\'s go', new_sock_path %>
  <% end %>
</ul>
</div>
