<div class="container">


<% unless @socks.count == 0 %>

  <table class="table table-striped bg-white">

    <thead>
      <tr>
        <th class ="text-center" scope="col">Name</th>
        <th class ="text-center" scope="col">Picture</th>
        <th class ="text-center" scope="col">Description</th>
        <th class ="text-center" scope="col">Price</th>
        <th class ="text-center" scope="col">Category</th>
        <th class ="text-center" scope="col">Color</th>
        <th class ="text-center" scope="col"></th>
      </tr>
    </thead>

    <% @socks.each do |sock|%>
    <tbody>
      <tr>
        <td class ="text-center align-middle"><%= link_to "#{sock.title}", sock_path(sock) %></td>
        <td class ="text-center align-middle">
          <%= cl_image_tag sock.photo, height: 80, width: 80, crop: :fill %></td>
        <td class ="text-center align-middle"><%= sock.description %></td>
        <td class ="text-center align-middle "><%= sock.price %></td>
        <td class ="text-center align-middle"><%= sock.category %></td>
        <td class ="text-center align-middle"><%= sock.color %></td>
        <td class ="text-center align-middle"><%= link_to "UPDATE", edit_sock_path(sock), class: "btn" %></td>
      </tr>
    </tbody>
    <% end %>
  </table>

<% else %>
<p>Your catalog is empty! Take 1 min and start to rent your socks now</p>
  <%= link_to 'Let\'s go', new_sock_path %>
<% end %>

</div>
