<div class="container">
  <div class="card-product">
    <div class="card-product-infos">
      <%= cl_image_tag @sock.photo, height: 300, width: 400, crop: :fill %>
      <h2><%= @sock.title %></h2>
      <h2><%= @sock.dirtyness %></h2>
      <p><%= @sock.description %></p>
      <p>Size: <%= @sock.size %></p>
      <p>Price: <%= @sock.price %> €/day</p>
      <p> Owner: Andre Lavilliers</p>
      <ul class="reviews-list">
      <% @sock.reviews.each do |review| %>
        <li class="list-group-item list-reviews">
          <% review.rating.times do %>
            <i class="fas fa-socks" style="color:#54BC83"></i>
            <% end %>: <%= review.content %></li>
      <% end %>
      </ul>
    </div>
      <% unless @sock.user == current_user %>
        <div class="card-body-form">
          <h5 class="card-title">Book these Socks</h5>
          <h6 class="card-subtitle mb-2">Add your dates</h6>
          <%= simple_form_for([@sock, @booking]) do |f| %>
            <%= f.input :start_at, as: :string, required: true, input_html: {class: "datepicker"} %>
            <%= f.input :end_at, as: :string, required: true, input_html: {class: "datepicker"} %>
            <%= f.button :submit, "I WANT THESE!", class:"btn btn-danger justify-content-center"%>
          <% end %>
        </div>
      <% end %>
    </div>
  <div class="container d-flex justify-content-between mt-3 px-0">
    <% if policy(@sock).edit? %>
      <div><%= link_to "UPDATE", edit_sock_path(@sock), class: "btn" %>

      </div>
    <% end %>
    <% if policy(@sock).destroy? %>
  <div><%= link_to "DESTROY", sock_path(@sock), method: :delete, class: "btn" %></div>
  </div>
    <% end %>
  <div><%= link_to "BACK TO SOCKS LIST", socks_path, class: "btn btn-success" %></div>
