<p>Hello World</p>
<div class="banner">
  <div class="container">
    <p><%= @sock.title %></p>
  </div>
</div>

<div class="container">
  <p><%= @sock.description %></p>
  <p><%= @sock.dirtyness %></p>
  <p><%= @sock.size %></p>
  <p><%= cl_image_tag @sock.photo, height: 300, width: 400, crop: :fill %></p>
</div>

<%= link_to "update", edit_sock_path(@sock), class: "btn btn-primary" %>
<%= link_to "destroy", sock_path(@sock), method: :delete, class: "btn btn-primary" %>
<%= link_to "Back to Socks List", socks_path, class: "btn btn-primary" %>
