<div class="container">
  <h1> My bookings </h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">My bookings</li>
    <li class="breadcrumb-item"><%= link_to 'My catalog', socks_mysocks_path %></li>
    <li class="breadcrumb-item"><%= link_to 'My rents', bookings_myrents_path %></li>
  </ol>
</nav>

<table class="table table-striped bg-white">
  <thead>
    <tr>
      <th class ="text-center" scope="col">My pair of socks</th>
      <th class ="text-center" scope="col">Booking start</th>
      <th class ="text-center" scope="col">Booking end</th>
      <th class ="text-center" scope="col">Booking length</th>
      <th class ="text-center" scope="col">Price paid</th>
      <th class ="text-center" scope="col">Status</th>
    </tr>
  </thead>
  <% @bookings.sort_by{|booking| booking.start_at}.reverse.each do |booking|%>
  <tbody>
    <tr>
      <td class ="text-center align-middle">
        <%= cl_image_tag booking.sock.photo, height: 80, width: 80, crop: :fill %>
        <%= link_to "#{booking.sock.title}", sock_path(booking.sock) %></td>
      <td class ="text-center align-middle"><%= booking.start_at %></td>
      <td class ="text-center align-middle "><%= booking.end_at %></td>
      <td class ="text-center align-middle"><%= ((booking.end_at - booking.start_at).to_i + 1) %> day(s)</td>
      <td class ="text-center align-middle"><%= ((booking.end_at - booking.start_at).to_i + 1) * booking.sock.price.to_i %>â‚¬</td>
      <% if (booking.start_at > Date.today && booking.end_at > Date.today) %>
        <td class ="text-center align-middle"><%= "Coming soon! ðŸ‘"  %></td>
      <% elsif (booking.end_at < Date.today && booking.start_at < Date.today)%>
        <td class ="text-center align-middle"><%= "Add a review ðŸ“"  %></td>
      <% elsif (booking.end_at >= Date.today && booking.start_at >= Date.today)%>
        <td class ="text-center align-middle"><%= "In progress...! ðŸŽ‰"  %></td>
      <% end  %>
    </tr>
  </tbody>
  <% end %>
</table>
</div>
