<div class="container">
  <h1> My bookings </h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'My account', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">My bookings</li>
  </ol>
</nav>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col justify-content-center">Booking ref</th>
      <th scope="col">My booked product</th>
      <th scope="col">Booking start</th>
      <th scope="col">Booking end</th>
      <th scope="col">Booking length</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <% @bookings.sort_by{|booking| booking.start_at}.reverse.each do |booking|%>
  <tbody>
    <tr>
      <th scope="row align-items-center"><%= booking.id %></th>
      <td><%= booking.sock.title %></td>
      <td><%= booking.start_at %></td>
      <td><%= booking.end_at %></td>
      <td><%= (booking.end_at - booking.start_at).to_i%> day(s)</td>
      <% if (booking.start_at > Date.today && booking.end_at > Date.today) %>
        <td><%= "Coming soon!"  %></td>
      <% elsif (booking.end_at > Date.today)%>
        <td><%= "Add a review"  %></td>
      <% elsif (booking.end_at <= Date.today && booking.start_at >= Date.today)%>
        <td><%= "In progress.....!"  %></td>
      <% end  %>
      <td><%= link_to 'Show product', sock_path(booking.sock) %></td>
    </tr>
  </tbody>
  <% end %>
</table>
</div>


