<div class="container">
  <h1> My bookings </h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item " aria-current="page">
      <%= link_to 'My bookings', bookings_path %>
    </li>
    <li class="breadcrumb-item"><%= link_to 'My catalog', socks_mysocks_path %></li>
    <li class="breadcrumb-item active" aria-current="page">My rents</li>
  </ol>
</nav>
<% unless @bookings = [] %>
  <table class="table table-striped bg-white">
    <thead>
      <tr>
        <th class ="text-center" scope="col">My pair of socks</th>
        <th class ="text-center" scope="col">Booking start</th>
        <th class ="text-center" scope="col">Booking end</th>
        <th class ="text-center" scope="col">Booking length</th>
        <th class ="text-center" scope="col">Price paid</th>
        <th class ="text-center" scope="col">Status</th>
        <th class ="text-center" scope="col">Approve ?</th>
      </tr>
    </thead>
    <% @bookings.sort_by{|booking| booking.start_at}.reverse.each do |booking|%>
    <tbody>
      <tr>
        <td class ="text-center align-middle">
          <%= cl_image_tag booking.sock.photo, height: 80, width: 80, crop: :fill %><br>
          <%=booking.sock.title %>
          <%= link_to "", sock_path(booking.sock), class: "card-link" %></td>
        <td class ="text-center align-middle"><%= booking.start_at %></td>
        <td class ="text-center align-middle "><%= booking.end_at %></td>
        <td class ="text-center align-middle"><%= ((booking.end_at - booking.start_at).to_i + 1) %> day(s)</td>
        <td class ="text-center align-middle"><%= ((booking.end_at - booking.start_at).to_i + 1) * booking.sock.price.to_i %>€</td>
        <td class ="text-center align-middle"><%= booking.approved %></td>
        <td class ="text-center align-middle">
            <%= link_to "yes", booking_path(booking.id, approved:true,) %>
            <%= link_to "no", booking_path(booking.id, approved:false,) %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
<% else %>
  <p>You don't have any rents at the moment</p>
<% end %>
</div>


